.loader {
    margin:0 auto;
    display:block;
    width:3rem;
    height:3rem;
    &:after {
        content:"";
        display:block;
        border-radius:100%;
        width:3rem;
        height:3rem;
        border:4px solid #333;
        border-top:4px solid transparent;
        -webkit-animation: rotating 2s linear infinite;
        -moz-animation: rotating 2s linear infinite;
        -ms-animation: rotating 2s linear infinite;
        -o-animation: rotating 2s linear infinite;
        animation: rotating 2s linear infinite;
    }
}